/* Misc */

body {
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
}

.hidden {
  display: none;
}

/* Header Background */

.pageHeader {
  width: auto;
  height: 175px;
  background-color: #fc9003;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

/* Main Heading */

.pageHeader h1 {
  color: black;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 30px;
  font-family: "Creepster";
  font-size: 70px;
  font-weight: 100;
}

.pageHeader a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Top Navigation Bar */

.topnav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.topnav ul li {
  display: inline-block;
}

.topnav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 25px;
  border: none;
  margin: 0;
  background-color: #fc9003;
}

.topnav li a:hover {
  background-color: black;
  color: white;
}

/* Search Bar */

.mainSearch {
  display: block;
  padding: 200px 0;
  text-align: center;
}

.mainSearch input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 2px;
  vertical-align: bottom;
  color: black;
  width: 500px;
}

.mainSearch button {
  background: white;
  width: 52px;
  height: 52px;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}

.mainSearch input[type="text"]:hover,
.mainSearch button:hover {
  border: 1px solid #999999;
  box-shadow: 0 0 10px #999999;
}

.mainSearch input[type="text"]:focus,
.mainSearch button:focus {
  outline: none !important;
  border: 1px solid black;
}

/* Account Creation */

.errorText {
  color: red;
}

#accountMade {
  color: green;
}

/* Header Images */

#spider2 {
  position: absolute;
  right: 100px;
  top: 0px;
}

#spider {
  position: absolute;
  left: 100px;
  top: 0px;
}

/* Log in and sign up input fields */

.signUpHeading,
.loginHeading {
  background-color: #7c00db;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  margin: 0 12px;
}

.loginForm {
  border: 1px solid #dedede;
  display: block;
  text-align: center;
  width: 40%;
  padding: 25px 10px 50px 10px;
  margin: 75px auto;
}

.signUpForm {
  border: 1px solid #dedede;
  display: block;
  text-align: center;
  width: 40%;
  padding: 25px 10px 50px 10px;
  margin: 75px auto;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.signUpForm input[type="text"],
.signUpForm input[type="password"] {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 14px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  width: 500px;
  text-align: center;
}

.loginForm input[type="submit"] {
  background-color: #595959;
  color: white;
  margin-top: 40px;
  padding: 14px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  cursor: pointer;
}

.signUpForm input[type="submit"] {
  background-color: #595959;
  color: white;
  margin-top: 20px;
  padding: 14px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  cursor: pointer;
}

.loginForm input[type="text"]:hover,
.loginForm input[type="password"]:hover,
.loginForm input[type="submit"]:hover,
.signUpForm input[type="text"]:hover,
.signUpForm input[type="password"]:hover,
.signUpForm input[type="submit"]:hover,
.searchResultItem:hover,
.addToCart input[type="number"]:hover,
.addToCart input[type="submit"]:hover,
.addressForm input[type="text"]:hover,
.addressForm input[type="submit"]:hover,
select:hover,
.paymentForm input[type="text"]:hover,
.paymentForm input[type="month"]:hover,
.paymentForm input[type="submit"]:hover {
  border: 1px solid #999999;
  box-shadow: 0 0 10px #999999;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus,
.loginForm input[type="submit"]:focus,
.signUpForm input[type="text"]:focus,
.signUpForm input[type="password"]:focus,
.signUpForm input[type="submit"]:focus,
.addToCart input[type="number"]:hover,
.addToCart input[type="submit"]:hover,
.addressForm input[type="text"]:focus,
.addressForm input[type="submit"]:focus,
select:focus,
.paymentForm input[type="text"]:focus,
.paymentForm input[type="month"]:focus,
.paymentForm input[type="submit"]:focus {
  outline: none !important;
  border: 1px solid black;
}

.cardType{
  position: fixed;
  opacity: 0;
  pointer-events: none;
  
}

.cardType+label > img {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cardType:checked+label > img {
  border-radius: 10%;
  box-shadow: 0 0 10px #fc9003;
}




#accSuccess,
.errorMsg,
#searchResult {
  padding-top: 50px;
  margin-bottom: 0;
  text-align: center;
}
/*
  for the search result item, produced by displayItem
*/

.searchResultItem img {
  height: 200px;
  display: block;
  margin: 20px auto;
}

.searchResultItem {
  border: 1px solid #dedede;
  padding: 10px;
  margin: 1px;
  height: 425px;
  width: 250px;
}

.itemPrice {
  padding: 10px 25px;
  color: white;
  border: none;
  margin: 0;
  background-color: #7c00db;
}

.searchResultItem p,
.searchResultItem form,
.searchResultItem form input {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.addToCart input[type="number"] {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
  vertical-align: bottom;
  color: black;
  width: 60px;
  margin-right: 10px;
}

.addToCart input[type="submit"] {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
  vertical-align: bottom;
  color: black;
  width: 100px;
  cursor: pointer;
}

.dropdown {
  text-align: center;
  margin: 15px auto;
}

.dropbtn {
  background-color: #595959;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content p {
  color: black;
  padding: 6px 8px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #383838;
}

/*
  this is a wrapper, used so far only for displaying multiple products

*/

.gridWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 75.5%;
}

/* checkout grid layout */

.checkoutWrapper,
.paymentWrapper {
  width: 80%;
  margin: 75px auto;
  text-align: center;
}

.addressWrapper {
  width: 75%;
  text-align: center;
  margin: 75px auto;
}

.checkoutGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
  width: 57%;
  margin-bottom: 75px;
}

.orderSummary {
  float: right;
  border: 1px solid #dedede;
  padding: 50px;
}

.finalPrice {
  float: right;
  border: 1px solid #dedede;
  padding: 50px;
  width: 30%;
}

.addressForm,
.paymentForm {
  float: left;
  width: 50%;
  border: 1px solid #dedede;
  margin-bottom: 75px;
}

.addressForm input[type="text"],
select,
.paymentForm input[type="text"],
.paymentForm input[type="month"] {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 14px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  width: 500px;
  text-align: center;
}

.addressForm input[type="submit"],
.paymentForm input[type="submit"] {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 14px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  width: 500px;
  text-align: center;
  background-color: #595959;
  cursor: pointer;
}

.deliveryHeading,
.paymentHeading {
  background-color: #7c00db;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  margin: 15px;
}

.checkoutBtn {
  background-color: #fc9003;
  color: black;
  padding: 12px 50px;
  font-size: 18px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* checkout3 */

.savedAddress {
  border: 1px solid #dedede;
  padding: 15px;
  margin: 0 30px;
}

.aboutUs {
  border: 1px solid #dedede;
  display: block;
  width: 60%;
  padding: 40px;
  text-align: center;
  margin: 100px auto;
}

.cardIcons {
  margin-bottom: 30px;
}

.shopSuccess {
  border: 1px solid #dedede;
  display: block;
  width: 60%;
  padding: 40px;
  text-align: center;
  margin: 100px auto;
}